<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253600679814-qungi58o7lmsjp360q1kb2iup9basu6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253600679814-qungi58o7lmsjp360q1kb2iup9basu6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBfrKbO0rBBcwNzPyi7iA1g-HEUhgaDW14</string>
	<key>GCM_SENDER_ID</key>
	<string>253600679814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piyush.Chat-shat</string>
	<key>PROJECT_ID</key>
	<string>chat-shat-e77f6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-shat-e77f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253600679814:ios:d5ccbc597b0ea1d9f84e07</string>
</dict>
</plist>